let Server = ./Spec

let SSL = ../SSL/Spec

in  Server::{
    , name = "example.com"
    , listen = ./Listen.example
    , includes = [] : List Text
    , log = { error = True, access = False }
    , locations = [ ../Location/Spec.example ]
    , ssl = SSL.default
    }
