  { name = "example.com"
  , listen = ./Listen.example
  , includes = [] : List Text
  , log = { error = True, access = False }
  , locations = [ ../Location/Spec.example ]
  , ssl = ../SSL/Spec.empty
  }
: ./Spec
