let ProxyPass = ./ProxyPass

let Location = ./Spec

in  Location::{
    , proxy_pass = ProxyPass.Address { address = "localhost", port = 3000 }
    , path =
      { RegularExpression_CaseInsensitive = Some "^/admin"
      , RegularExpression_CaseSensitive = None Text
      , Equality = None Text
      , _None = None Text
      , BestNonRegularExpression = None Text
      }
    , headers = [ { name = "X-Custom", value = "Custom", always = False } ]
    , proxy_headers =
      [ { name = "X-Forward-Proto", value = "https", always = False } ]
    , rewrite = Some
      { regex = "regex"
      , replacement = "replacement"
      , flag = Some "flag"
      , log = False
      }
    }
